@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-gradient {
  background: linear-gradient(135deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}


.opacity-gradient {
  position: relative;
}

.opacity-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  pointer-events: none; /* This ensures that the gradient does not interfere with clicks */
}